#inspect-db {
  float: right;
  color: darkgray;
  font-style: italic;
}

#db {
  font-family: monospace;
  width: 23%;
  height: auto;
  float: left;
}

#period {
  width: 60%;
  font-family: monospace;
}
